<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'book/app.css' %}"/>
    </head>

    <body>
        <div class="wrapper">
            <nav class="nav">
                <div class="container">
                    <div class="nav__menu">
                        <a class="nav__header" href="/">Your Favorite Book Here!</a>
                    </div>
                </div>
            </nav>
            
            {% block content %}
                
            {% endblock content %}
            
        </div>
        <div class="footer">
            <img src="{% static 'book_resources/bookstore.jpg' %}" alt="" height="200rem" style="margin:0rem 0rem">
        </div>
        
        
        <script src="{% static 'book/app.js' %}"></script>
    </body>
</html>