{% extends "base.html" %} {% block content %}
<section class="result">
    <div>
        <div class="container">
            <div class="details" background="https://image.tmdb.org/t/p/original{{ info.backdrop_path }}">
                <div class="sidebar">
    
                    <div class="details__content-header">
                        <p>Rating </p>
                    </div>
                    <div class="details__content" style="margin-left: 2rem">
                        {{ frontend.rating}}
                    </div>


                    <div class="details__content-header">
                        <p> Author </p>
                    </div>
                    <div class="details__content" style="margin-left: 2rem">
                       {% for r in frontend.author %}
                        {{ r}}
                        <br>
                        {% endfor %}
                    </div>

                    <div class="details__content-header">
                        <p>Publisher</p>
                    </div>
                    <div class="details__content" style="margin-left: 2rem">
                        {{ frontend.publisher}}
                    </div>

                    <div class="details__content-header">
                        <p>Spoken Languages</p>
                    </div>
                    

                


                <div class="content" style="margin-left: 3rem;">
                    <div class="details__title">
                        <p style="display: inline;">{{ frontend.description }}</p>
                        <p style="display: inline;">({{ year }})</p>
                    </div>
        
                    <div class="details__content-header" style="font-size: 1.5rem; text-transform: uppercase; ">
                        <p>{{ frontend.title }}</p>
                    </div>
                    <div class="details__content" style="font-size: 1rem; margin-top: 2rem">
                        <p>
                            {{ frontend.title}}
                        </p>
                    </div>

                
            
                
                    
            </div>
        </div>
    </div>
</section>

{% endblock content %}